<a href="https://colab.research.google.com/github/gored-boop/pythonbasic/blob/main/FridayQuiz27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# 데이터 입력 받아서 처리

a = input().split()
print(a)

60 70
['60', '70']

In [16]:
# 숫자로 입력받아서 처리
a = map(int,input().split())
print(a)

30 40
<map object at 0x7f2193f4c7d0>

In [20]:
a = [1,2,3,4]
b = [100,200,300,400]

print(list(zip(a,b)))

[(1, 100), (2, 200), (3, 300), (4, 400)]

In [21]:
# Quiz 27

key = input().split()
value = map(int,input().split())

print(dict(zip(key,value)))

Yujin Hyewon
70 100
{'Yujin': 70, 'Hyewon': 100}

In [26]:
# Quiz 28

txt = input() # Python     6글자

for i in range(len(txt)-1): # 6   0,1,2,3,4,5
  print(txt[i],txt[i+1],sep='')

python
py
yt
th
ho
on

In [40]:
# Quiz 29
txt = input()
if txt.isupper() == True:
  print('YES')
else:
  print('NO')

A
YES

In [38]:
txt = input()

if ord(txt) >=65 and ord(txt) <= 90:
  print('YES')
else:
  print('NO')

n
NO

In [42]:
txt = input()

if txt >= chr(65) and txt <= chr(90):
  print('YES')
else:
  print('NO')

A
YES

In [47]:
# Quiz 30
txt = input()
find = txt.find(input())
print(find)

pineapple is yummy
apple
4

In [52]:
# Quiz 32
txt = input().split()
print(len(txt))

우리
1

In [53]:
txt = input()
a = list(txt.split())
print(len(a))

우리는 하나
2

In [55]:
txt = ' 빅데이터 '
print(txt.strip())

빅데이터

In [66]:
#Quiz 33
num = input()
print(num[::-1])

1 2 3 4 5
5 4 3 2 1

In [69]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [71]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [73]:
for i in range(0,10,-1):
  print(i)

In [78]:
# Quiz 33 거꾸로 출력하기
txt = input()
txt2 = list(txt.split())
txt3 = [int(i) for i in txt2]

for i in range(len(txt3)-1,-1,-1):
  print(txt3[i], end=' ')

1 2 3 4 5
5 4 3 2 1

In [92]:
num = input()
nums = list(num.split())
if nums == sorted(nums) :
  print('YES')
else:
  print('NO')

1 2 3 4 5
YES

In [87]:
#sort() 를 사용하면 원본 리시트 자체의 순서를 변화시킨다.
#sorted(<list>)를 사용하면 정렬된 새로운 리스트를 반환받는다.
#<list>.sort()는 새로운 복사본을 만들지 않기때문에
#sorted(<list>)보다 빠르다.

In [91]:
# Quiz 34
num1 = input()
num2 = num1.strip().split()
num3 = [int(i) for i in num2]

if num3 != sorted(num3):
  print('NO')
else:
  print('YES')

1 2 3 4 5
YES

In [93]:
# Quiz 36
n = int(input('원하는 단의 숫자를 입력하세요.(1~9): '))
for i in range(1,10):
  print(n, "*", i, '=', n*i)

원하는 단의 숫자를 입력하세요.(1~9): 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [99]:
# count 함수
# 기본문법 : 변수.count(찾는값)

#a = 'ooyyy'
#a.count('y')

#b = 'ox o x oxoxoxo'
#b.count('ox')

#a = [1,1,1,2,3]
#a.count(1)

3

In [107]:
# Quiz 37
a = input().split() # 입력값 단어단위로 받기.
b = list(set(a)) # 중복 제거를 위한 세트화, 리스트로 받기
max = 0 # 임시변수 초기화

for i in range(len(b)): # 0,1,2(세명의 이름 중복 제거된 갯수)
  if a.count(b[i]) > a.count(b[max]): # 위의 0,1,2(세명의 이름)가 순차적으로 비교되어짐
    max = i      #최대값 유지
                  #채연의 갯수 2 > 채연의 갯수 2
                  #은비의 갯수 4 > 채연의 갯수 2  max = 1
                  #원영의 갯수 2 > 은비의 갯수 4  max = 1

print("%s(이)가 총 %d표로 반장이 되었습니다." % (b[max], a.count(b[max])))


#원영 원영 은비 은비 은비 은비 채연 채연

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4표로 반장이 되었습니다.

In [112]:
# Quiz 39
txt = input()
print(txt.replace('q','e'))

qqqqqq
eeeeee

In [117]:
# Quiz 41
def prime_number(number):
  if number != 1:
    for i in range(2, number):
      if number % i == 0:
        return False
  else:
    return False

  return True
num = int(input('판별하고 싶은 숫자를 입력하세요: '))
if prime_number(num):
  print('YES')
else:
  print('NO')

판별하고 싶은 숫자를 입력하세요: 10
NO

In [122]:
# Quiz 41 소수판별 ***
a = int(input()) #숫자를 입력받는다.
re = 0 # re변수 초기화
for i in range(1, a+1): # 반복문. 해당숫자까지
  if a % i == 0: # 조건 입력받은 수를 그 수 앞에 모든 수로 나눈 나머지 값이 0이면
    re += 1 #re값을 하나씩 증가
  
if re == 2: #re 값이 2면
  print('YES') #소수
else: #아니면
  print('NO') # NO 출력

15
NO

In [136]:
# Quiz 44
print(sum(map(int,input("합을 구할 수를 입력하세요: "))))

합을 구할 수를 입력하세요: 1234
10

In [139]:
# Quiz 44 풀이
n = list(map(int, input())) # 숫자로 입력받기
sum = 0 # 초기화
for i in n: #반복문 : 입력받은 숫자를 하나씩
  sum += i #누적합계 구하기
print(sum) # 합계출력

1234
10

In [140]:
# Quiz 44 풀이 2
sum = 0
for i in input():
  sum += int(i)
print(sum)

1234
10

In [154]:
# Quiz 46 내답안. 틀린답.
num = ['1','2','3','4','5','6','7','8','9','10',
       '11','12','13','14','15','16','17','18','19','20']

n = map(int, num)
for i in n:
  sum += i
print(sum)

2110

In [169]:
# Quiz 46 풀이
a = list(map(int,input().split()))
sum = 0
for i in a:
  for j in str(i):
    sum += int(j)
print(sum)

10 20 30 40 51 61
23