In [1]:
a=123

In [2]:
a=-178

In [3]:
a = 0

In [4]:
odd = [1,3,5,7,9]

In [6]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [7]:
a

[]

In [8]:
b

[1, 2, 3]

In [9]:
c

['Life', 'is', 'too', 'short']

In [10]:
d

[1, 2, 'Life', 'is']

In [11]:
e

[1, 2, ['Life', 'is']]

In [12]:
f

NameError: name 'f' is not defined

In [13]:
a[0]

IndexError: list index out of range

In [14]:
b[0]

1

In [15]:
b[-1]

3

In [16]:
c[1]

'is'

In [7]:
x = 1
y = 4
while x * y < 10:
    print(y, end='')
    x += 1
    y += 1

4

In [8]:
x,y = 2,5
while y - x <5:
    print(x*y, end='')
    x += 3
    y += 4

1045

In [12]:
x,y = 0,1
while y <10:
    print(y, end='')
    x,y = y,x + y

112358

In [15]:
x = y = 1
while x<4:
    x += 1
    while y < 3:
        print(y,end=' ')
        y += 1

1 2

In [2]:
x = 'hello'
for i in x:
    print(i, end='')

hello

In [5]:
for i in range(1,25,5):
    print(i, end=' ')

1 6 11 16 21

In [13]:
x = {'x','z','y'}
for i in x:
    print(i, end='')

yxz

In [15]:
x = {'x','z','y'}
for i in x:
    print(i, end='')

yxz

In [16]:
x = {'x','z','y'}
for i in x:
    print(i, end='')

yxz

In [5]:
x = {'z':1,'y':2,'x':3}
for i,j in x.items():
    print(i,j, end=' ')

z 1 y 2 x 3

In [2]:
x = ['P','y','t','h','o','n']
for i in enumerate(x):
    print(i, end='')

(0, 'P')(1, 'y')(2, 't')(3, 'h')(4, 'o')(5, 'n')

In [6]:
x = ['P','y','t','h','o','n']
y = ['0','1','2','3','4','5']

for i in zip(x, y):
    print(i, end='')

('P', '0')('y', '1')('t', '2')('h', '3')('o', '4')('n', '5')

In [17]:
for i in range(0,5):
    print(i, end='')
    if i == 2:
        continue

01234

In [13]:
for i in range(1,5):
    if i == 3:
        continue
        print(i, end='')

In [5]:
myvar = 5
def printvar():
    print(myvar, end ='')

In [6]:
type(printvar)

function

In [25]:
def call(var):
    print(var, end='')

In [26]:
call(45)

45

In [1]:
def call(var1=20, var2=5,var3=2):
    print((var1*var2)- var3, end=' ')

In [2]:
call(var2=5, var3=3, var1=4)

17

In [25]:
for i in range(1,5):
    print(i, end='')
    if i == 3:
        break

123

In [11]:
x = {'z':1,'y':2,'x':3}
for i in x:
    print(i, end=' ')

z y x

In [12]:
for i in range(1,25,5):
    print(i, end=' ')

1 6 11 16 21

In [13]:
x,y = 2,5
while y - x < 5:
    print(x*y, end=' ')
    x += 3
    y += 4

10 45

In [29]:
a = int(input('숫자를 입력하세요: ')) # 입력을 받기 위한 설정
b = 0 # 초기값 설정

for i in range(2,a): # 2부터 입력받은 숫자까지 확인
    if a % i == 0: # 입력받은 숫자를 나눴을 때 0이면
        b = 1 # 1도 소수이기때문에 1값 지정
if b == 0: #b가 0이 되면
    print('true') #소수입니다. 출력
else: # 소수가 아닐때.
    print('false')#소수가 아닙니다. 출력

TypeError: 'str' object is not callable

In [30]:
a = int(input('숫자를 입력하세요: ')) # 입력을 받기 위한 설정
b = 0 # 초기값 설정

for i in range(2,a): # 2부터 입력받은 숫자까지 확인
    if a % i == 0: # 입력받은 숫자를 나눴을 때 0이면
        b = 1 # 1도 소수이기때문에 1값 지정
if b == 0: #b가 0이 되면
    print('true') #소수입니다. 출력
else: # 소수가 아닐때.
    print('false')#소수가 아닙니다. 출력

TypeError: 'str' object is not callable

In [31]:
from datetime import*
print(datetime.today().strftime('%j'))

063

In [28]:
from datetime import*
print(datetime.today().strftime('%m'))

03

In [24]:
import datetime
print(datetime.datetime.today())

2021-03-04 17:57:29.864869

In [15]:
from datetime import*
print(datetime.today().strftime('%b'))

Mar

In [32]:
from time import*
print(time())

1614934339.7023296

In [33]:
from time import*
sleep(3)

In [34]:
x = 'Python'
y = 'MCQ'
print(x+y)

PythonMCQ

In [35]:
print('y' in x)

True

In [36]:
x = '{}3{}'.format('Python','Test')
print(x)

Python3Test

In [37]:
x = '{1}for{0}'.format('Python','Questions')
print(x)

QuestionsforPython

In [39]:
x = '%s MCQ %s'%('Python','Test')
print(x)

Python MCQ Test

In [1]:
x = 'Python %d Version' %(3)
print(x)

Python 3 Version

In [2]:
x = 'Python %c or Python %c' %('2','3')
print(x)

Python 2 or Python 3

In [3]:
x = 'Python %1f or Python %2f' %(2.7,3.51)
print(x)

Python 2.700000 or Python 3.510000

In [8]:
x = 'python jobs'
print(x.lower())

python jobs

In [10]:
x = 'Python Jobs'
print(x.swapcase())

pYTHON jOBS

In [13]:
x = 'Python'
y = '3'
z = 'Questions'
print(x.strip()+y.strip()+z.strip())

Python3Questions

In [14]:
x = 'Interview'
print(x.replace('e',' '))

Int rvi w

In [17]:
x = 'MCQs'
print(x.center(10,'*'))

***MCQs***

In [20]:
x = 'Python Pi Py'
print(x.count('P'))

3

In [1]:
import math
print(math.pow(3,2))

9.0

In [17]:
from datetime import*
print(datetime.today().strftime('%c'))

Tue Mar  9 10:08:47 2021

In [18]:
print('2\\t4')

2\t4

In [5]:
num = int(input("Enter a number: ")) # 정수로 입력을 받기위한 코드
if (num % 2) == 0: # 2로 나눈값의 나머지가 0이면
   print("{0} is Even".format(num)) # 입력받은숫자 is Even 출력
else:
   print("{0} is Odd".format(num)) # 그외의 숫자 is Odd 출력

Enter a number: 20
20 is Even

In [7]:
num = int(input("Enter a number: ")) # 정수로 입력을 받기위한 코드
if (num % 2) == 1: # 2로 나눈값의 나머지가 1이면
   print("{0} is Odd".format(num)) # 입력받은숫자 is Odd 출력
else:
   print("{0} is Even".format(num)) # 그외의 숫자 is Even 출력

Enter a number: 15
15 is Odd

In [2]:
x = 'Pi Py Python'
print(x.endswith('n'))

True

In [12]:
x = '2.7'
print(x.isdecimal())

False

In [1]:
a = 'Python'
b = 'Python'
print(a is b)

True

In [4]:
a = [4,7,9]
b = [4,7,9]
print(a is b)

False

In [5]:
a = [3,6,9]
b = [3,6,9]
print(a is b, a==b)

False True

In [6]:
a = 0
b = 5
c = 10
a = b
b = c
c = a
print(a,b,c)

5 10 5

In [7]:
b = 15
c = 20
a = b
b = c
c = a
print(b,c)

20 15

In [10]:
4*3

12

In [11]:
a = 4**3
b = pow(4,3)
print(a,b)

64 64

In [12]:
a = min(10,15,6,17,24)
print(a)

6

In [13]:
a = [4,25,16,9,24]
print(max(a))

25

In [14]:
a = round(5.3)
b = round(5.6)
c = round(5.5)
print(a,b,c)

5 6 6

In [15]:
for i in range(1,5):
    print('Python 3')

Python 3
Python 3
Python 3
Python 3

In [16]:
a = round(4.49999)
print(a)

4

In [17]:
a = b

In [18]:
a = int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [19]:
a = {7}

In [20]:
type(a)

set

In [21]:
a = 'Python' + 3

TypeError: can only concatenate str (not "int") to str

In [22]:
a = {'a','b','c','d'}

In [23]:
type(a)

set

In [17]:
people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호준', '01050442903'),
]
a = len(set(people))
print(a)

4

In [24]:
a = input('뒤집을 문자를 입력하세요.: ') #문자입력받기
print(a.swapcase()) #알파벳 뒤집기 함수 출력

뒤집을 문자를 입력하세요.: AGAGasga
agagASGA

In [25]:
a = map(int,input('최대값을 원하는 숫자열을 입력하세요: ').split()) #split을 이용하여 띄어쓰기 입력받기, int 함수로 입력받은 문자를 숫자로 변환, map함수로 자료형으로 전환.
print(max(a)) #숫자 최대값을 출력하는 max 함수를 통해 출력.

최대값을 원하는 숫자열을 입력하세요: 10 20 30 40 50
50

In [29]:
import locale
import functools

student = ['강은지', '김유정', '박현서', '최성훈', '홍유진', '박지호', '권윤일',
          '김채리', '한지호', '김진이', '김민호', '강채연']

locale.setlocale(locale.LC_ALL, '')
sortedByLocale = sorted(student, key=functools.cmp_to_key(locale.strcoll))

print(sortedByLocale)

['강은지', '강채연', '권윤일', '김민호', '김유정', '김진이', '김채리', '박지호', '박현서', '최성훈', '한지호', '홍유진']

In [34]:
student = ['강은지', '김유정', '박현서', '최성훈', '홍유진', '박지호', '권윤일',
          '김채리', '한지호', '김진이', '김민호', '강채연'] #문자열리스트
student.sort() #정렬함수
for i in range(len(student)): #for문을 이용한 이름순 으로 번호 뽑아내기
    print('번호: {0}, 이름: {1}'.format(i+1,student[i])) #얻은 값 출력

번호: 1, 이름: 강은지
번호: 2, 이름: 강채연
번호: 3, 이름: 권윤일
번호: 4, 이름: 김민호
번호: 5, 이름: 김유정
번호: 6, 이름: 김진이
번호: 7, 이름: 김채리
번호: 8, 이름: 박지호
번호: 9, 이름: 박현서
번호: 10, 이름: 최성훈
번호: 11, 이름: 한지호
번호: 12, 이름: 홍유진

In [39]:
a = ('a','b')
b = ()
c = ('c','d','e','f','g','h','i','j','k')
d = ('l','m','n')
e = ('o')

print(len(a),len(b),len(e),len(c),len(b),len(c),len(a),len(d), end='')

2 0 1 9 0 9 2 3

In [8]:
a = input('자를 문장을 입력해주세요(한/영): ').split(' ') #문자입력받은것 나누기.
out = '' #out 지정

for i in a: #입력받은 값을 하나씩 반복
    out = out + i[0] # 맨 앞글자 불러오기
    
print(out) #출력

자를 문장을 입력해주세요(한/영): 복잡한 세상 편하게 살자
복세편살

In [10]:
a = int(input('숫자를입력하세요.')) #정수입력받기.
print(len(str(a))) #자릿수 출력

숫자를입력하세요.123
3

In [12]:
word = input('문자를 입력하세요:') #문자입력받기
li = list(word) #띄어쓰기 단위로 리스트화
temp = [] #리스트 지정

for i in li: #리스트 안의 각각의 문자 수 세기
    if i != ' ': # 띄어쓰기가 아니라면.
        temp.append(i) #리스트 수 더하기.


print(len(temp)) #출력

문자를 입력하세요:공백을 제외한 글자 수만을 세는 코드 테스트
18